<nav class="bg-white border-gray-200 dark:bg-gray-900">
    </nav>

  <div class="content">
    <h1>Formulario</h1>
    </div>
<div class="container">
  <h2>Multiplicación A × B</h2>

  <form [formGroup]="formulario">
    <div class="form-group">
      <label for="numero1">Número A:</label>
      <input
        type="number"
        id="numero1"
        formControlName="numero1"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="numero2">Número B:</label>
      <input
        type="number"
        id="numero2"
        formControlName="numero2"
        class="form-control"
      />
    </div>

    <button (click)="calcularAxB()" type="submit" class="btn btn-primary">Calcular</button>
  </form>

  <div>
    <h3>Resultado: {{ resultado }}</h3>
  </div>
</div>
